html, body{
	margin: 0;
}
#container{
	padding: 0 10%;
	min-width: 500px;
	/*background-color: blue;*/
}
	
/* Header */
#header{
	/*background-color: lightgreen;*/
	min-height: 150px;
	overflow: hidden;
}
#header img{
	max-height: 100%;
	max-width: 100%;
	margin: auto;
	display: block;
}

/* Content */
#content{
	min-height: 300px;
	width: 100%;
	background-color: lightyellow;
}
#content:after{
    clear: both;
    content: "";
    display: block;
}
	#lave_menu{
		width: 200px;
		float: left;
		
		/*background-color: yellow;*/
	}
		#lave_menu ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}
		#lave_menu ul li{
			margin-bottom: 5px;
			/*border-bottom: 1px solid lightgrey;*/
		}
		#lave_menu ul li:hover{
			background-color: orange;
		}
		#lave_menu ul li a:link{
			color: black;
			text-decoration: none;
		}
	#stredovy_blok{
		float: left;
		width: 200px;
		background-color: lightgrey;
	}
	#prave_menu{
		width: 150px;
		float: right;
		border-left: 1px solid lightgrey;
		
		/*background-color: lightblue;*/
	}

/* Footer */
#footer{

	background-color: lightpink;
	/*
	border: 1px solid lightgrey;
	min-height: 80px;
	border-radius: 10px;
	*/
}
	#footer #linky{
		/*background-color: yellow;*/
	}
	#footer a:link{
		color: black;
		text-decoration: none;
	}
	#footer a:hover{
		color: orange;
		text-decoration: underline;
	}
	#footer #copyright{
		float: right;
		/*background-color: green;*/
	}
	
/* Stranka */
.stranka{
	display: none;
}