<!DOCTYPE html>
<html>
<head>
<title>Denthyka - Dentalna Hygiena Katka</title>
<style>
table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 100%;
}

th {
    height: 50px;
}

li {
	list-style-type: none;
	margin: 2px;
}

ul {
	margin: 0px;
	padding: 0px;
}

div.kalendar{
	font-family: Calibri;
	background-color:lightblue;
	border-style:solid;
	border-width:1px;
	padding:5px;
	overflow: hidden;
}
div.formular {
	position: fixed;
	z-index: 1002;
	width: 300px;
    top: 50px;
    background-color: orange;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
}

span.booked{
	/*background-color: red;*/
	color: red;
}

a.free{
	/*background-color: black;*/
	border: none;
	color: blue;
	/*font: 14px Arial;*/
	text-decoration: none;
}
.form_item{
	margin-top: 2px;
}

input.form_item{
	width: 150px;
}
label.form_item{
	display: inline-block;
	width: 100px;
}
</style>
</head>



<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/kalendar.js"></script>
<script type="text/javascript" src="js/controllers/ctrl.js"></script>
<script type="text/javascript" src="js/filters/filter.js"></script>
<body>

<div class="kalendar" ng-app="kalendar" ng-controller="ctrl">

	<table>
		<tr>
			<th ng-repeat="day in days">
				{{day.day}}<br>
				{{day.date.getDate()}}. {{day.date.getMonth()+1}}.
			</th>
		</tr>
		<tr>
			<td ng-repeat="day in days" align="char" char=":">
				<ul>
					<li ng-repeat="hour in day.hours">
						<span ng-show="(hour.state == 1)" class="booked">
							{{hour.t | time}}
						</span>
						<span ng-show="hour.state == 2" style="display: inline-block;"></span>
						<a href="javascript:void(0);" ng-click="book(hour,day)" ng-show="hour.state == 0" class="free">
							{{hour.t | time}}
						</button>
					</li>
				</ul>
			</td>
		</tr>
	</table>
	<input style="float:left;width:150px;margin-top:5px" type="button" ng-click="loadPrevious()" ng-hide="offset==0" value="Predch&aacute;dzaj&uacute;ci t&#253;&#382;de&#328;"/>
	<input style="float:right;width:150px;margin-top:5px" type="button" ng-click="loadNext()" ng-hide="offset==maxoffset" value="Dal&#353;&#237; t&#253;&#382;de&#328;"/>



	<div style="
		background-color:#000;
		opacity:.7;
		filter:alpha(opacity=70);
		height:100%;
		width:100%;
		position:fixed;
		top:0;
		left:0;
		z-index:1001;
		display:block;
		cursor:pointer;
	" ng-click="cancelOrder()" ng-show="formOn"></div>

	<div ng-show="formOn" class="formular simple-form">
		<h3>Objednaj na {{order.hour.t |time}} {{order.day.day}} {{order.day.date.getDate()}}.{{order.day.date.getMonth()+1}}.</h3>
		<form novalidate>
			<label class="form_item">Meno:</label>
			<input class="form_item" type="text" ng-model="order.user.name" /><br>

			<label class="form_item">Priezvisko:</label>
			<input class="form_item" type="text" ng-model="order.user.surname" /><br>

			<label class="form_item">E-mail:</label>
			<input class="form_item" type="email" ng-model="order.user.email" /><br>

			<label class="form_item">Telef&oacute;n:</label>
			<input class="form_item" type="text" ng-model="order.user.phone" /><br>

			<label class="form_item">Pozn&aacute;mka:</label>
			<input class="form_item" type="text" ng-model="order.user.note"/><br>

			<span style="color:red" ng-show="invalid">Chyba: nevyplnene udaje alebo nespravny format</span><br>
			<br>
			<br>
			<input type="submit" ng-click="sendOrder()" value="Objednaj"/>
			<input type="button" ng-click="cancelOrder()" value="Zru&#353;i&#357;"/>
		</form>
	</div>
</div>






</body>
</html>